<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-3">Estimado(a): </h1>
            <h2 class="display-3">{{ name }}  {{ apellidoOficio }} </h2>
            <p class="lead">Se le comunica el cambio de contraseña: </p>
            <hr class="my-4">
            <ul>                
                <li> Contrseña Actual:  {{ passActual }} </li>
                <li> Fecha de Cambio : {{ fechaChange }} </li>                
            </ul>
            
            <h4> 
                Saludos Cordiales.
            </h4>    

            <hr class="my-4">
                
             <p>
                Para mayor Información contactar con: Nahúm Aaron Martínez Salgado
             </p>
             <p>
                Administrador del Sistema de Control de Documentación | SICDOC
             </p>
             <p>
                Dirección de Cooperación Privada al Desarrollo | DCPD            
            </p>
            <p>
                Secretaría de relaciones Exteriores de Honduras y Cooperación Internacional
            </p>
        </div>
    </div>
</body>
</html>
